# Editor files 
emacs.d/auto-save-list/*
*~
*.sw?

# OS files
.DS_Store

# vendor libraries
vim/.vim/bundle

# Compiled sources
*.py*

# Local data files
config/ranger/bookmarks
config/ranger/tagged
config/ranger/history
